/* --- STYLES --- */

.workspace-widget {
  min-height: 0px;
  border: none;
  margin: 0;
  background: $bg-off;
  color: $fg-color;
  font-size: 3px;
  font-weight: normal;
  padding: 0px;
  
.active {
  background: $secondary-color;
}

.inactive {
  background: $fg-color;
}}
