/* --- VARIABLES (Theme Configuration) --- */
$bg-off: null;
$bg-blur: rgba(30, 30, 46, 0.7);
$bg-color: #1e1e2e;           /* Dark Background */
$fg-color: #cdd6f4;           /* Main Text */
$accent-color: #89b4fa;       /* Blue Accent (Clock/Highlight) */
$secondary-color: #a6e3a1;    /* Green Accent (Date) */
$muted-color: #6c7086;        /* Grey Text */
$hover-bg: rgba(255, 255, 255, 0.1);
$border-radius: 24px;
$font : Hack Nerd Font;
$font1 : Unifont;

/* --- GLOBAL RESET --- */
* {
  all: unset; /* Remove default GTK styling */
  font-weight: bold;
  background-color: $bg-off;
  color: $fg-color;
}

.main-container {
  background-color: $bg-blur;
  border: 2px solid $fg-color;
  border-radius: 0px;
}

.time-container {
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: $font1;
  font-size:   60px;
  font-weight: bold;
  color:   $fg-color;
}

.music-box{
  padding: 12px;
  margin: 10px;
 } 

.music-bar trough {
  background-color: $muted-color; /* Using the grey variable */
  border-radius: $border-radius;
  min-height: 8px;
  min-width: 150px;
}

.music-bar highlight {
  background-color: $secondary-color; /* Green progress for visual harmony */
  border-radius: $border-radius;
}

.album-art {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  margin-right: 10px;
}

.album-art:hover {
  background-color: rgba(60, 60, 60, 0.8);
  box-shadow: 0 0 10px rgba(243, 139, 168, 0.9);
}

.play-overlay {
  transition: all 300ms ease;
  font-size: 40px;
  opacity: 1; /* Hidden by default */
}

.sys-stats-box {
  font-size: 13px;
  padding: 12px;
  margin: 10px;
}
