/* =========================================
   ========================================= */

$bg-base: rgba(0, 0, 0, 0.5);
$bg-surface: rgba(0, 0, 0, 0.8);     
$bg-surface-alt: rgba(0, 0, 0, 0.4);  

$bg-hover: rgba(255, 255, 255, 0.8);
$bg-active: rgba(46, 150, 214, 0.25);

$accent: #ffffff;

/*blue #2e96d6; */
/*red   #db1c1c; */

/* Transparent Overlays */
$bg-transparent-light: rgba(255, 255, 255, 0.1);

/* Text Colors */
$text-main: #E3E9F0;
$text-inverted: #000000;
$text-muted: #949494;

/* Borders */
$border-thin: rgba(255, 255, 255, 0.19);
$border-med: rgba(255, 255, 255, 0.15);

/* Border Radii */
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 20px;
$radius-pill: 99px;

/* Animations */
$anim-smooth: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
$anim-fast: 200ms ease;


