/* =========================================
   ========================================= */
$bg-base:   #090909;
/*$bg-base: #2F4F4F;*/

$bg-surface: rgba(0, 0, 0, 0.8);     
$bg-surface-alt: rgba(255, 255, 255, 0.15);  

$bg-hover: rgba(255, 255, 255, 0.8);

$accent: #E2232A;

/* Text Colors */
$text-main: #E3E9F0;
$text-inverted: #000000;
$text-muted: rgba(255, 255, 255, 0.8);

/* Borders */
$border-med: rgba(255, 255, 255, 0.15);

