$bg-off: null; 
$bg-blur: rgba(30, 30, 46, 0.7);
$bg-color: #181825;           
$fg-color: #cdd6f4;           
$accent-color: #89b4fa;       
$secondary-color: #a6e3a1;   
$muted-color: #6c7086;       
$hover-bg: rgba(255, 255, 255, 0.1);
$radius: 4px;
$crust: #000;
$text: #cdd6f4;
$subtext: #a6adc8;
$mauve: #cba6f7;
$red: #f38ba8;
$peach: #fab387;
$blue: #89b4fa;
$yellow: #f9e2af;
$green:  #a6e3a1;
$teal:   #94e2d5;
$font: "Hack Nerd Font";
$font1: "Impact";
