/* --- STYLES --- */
* {
  all: unset;
}

window {
  background-color: $bg-color;
  border-radius: 4px;
}

.powermenu-frame {
  background-color: $bg-off;
}

.p-btn {
  background-color: $bg-color;
  font-family: $font1;
  font-size: 25px;
  color: $text;
  border-radius: $radius;
  padding: 12px 1px;
  transition: all 300ms cubic-bezier(0.05, 0.7, 0.1, 1);

  &:hover, &:focus {
    border-radius: 0px;
    color: $mauve;
    .text { color: $crust; }
  }

  /* Specific Action Colors (Combined Hover/Focus for efficiency) */
  &.back:hover, &.back:focus           { background-color: $subtext;color: $crust; }
  &.lock:hover, &.lock:focus           { background-color: $blue;   color: $crust; }
  &.hibernate:hover, &.hibernate:focus { background-color: $yellow; color: $crust; }
  &.logout:hover, &.logout:focus       { background-color: $mauve;  color: $crust; } 
  &.shutdown:hover, &.shutdown:focus   { background-color: $red;    color: $crust; } 
  &.suspend:hover, &.suspend:focus     { background-color: $teal;   color: $crust; } 
  &.reboot:hover, &.reboot:focus       { background-color: $peach;  color: $crust; } 
}
